:root {
    --primary-color: #4e73df;
    --secondary-color: #f8f9fc;
    --accent-color: #2e59d9;
    --azul-escuro: #306998;
    --azul-claro: #4B8BBE;
    --amarelo: #FFD43B;
    --branco: #FFFFFF;
}

.navbar {
    background-color: #4e73df; /* var(--primary-color) */
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.navbar-brand {
    font-weight: 800;
    font-size: 1.5rem;
    color: white !important;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: white !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    /* background-color: #4B8BBE; var(--azul-claro) */
}

.container {
    display: flex;
    height: 100%;
    gap: 30px;
}

.tab-btn {
    background-color: #306998; /* var(--azul-escuro) */
    color: white; /* var(--branco) */
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s;
}

.tab-btn:hover {
    transform: scale(1.1);
    background-color: #FFD43B; /* var(--amarelo) */
    color: #306998; /* var(--azul-escuro) */
}

.tab-btn.active {
    background-color: #FFD43B; /* var(--amarelo) */
    color: #306998; /* var(--azul-escuro) */
}

main {
    flex: 1;
    padding: 30px;
    background-color: white; /* var(--branco) */
    overflow-y: auto;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

button {
    background-color: #306998; /* var(--azul-escuro) */
    color: white; /* var(--branco) */
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s;
    margin-top: 15px;
}

button:hover {
    transform: scale(1.1);
    background-color: #FFD43B; /* var(--amarelo) */
    color: #306998; /* var(--azul-escuro) */
}

.config-nav{
    display: flex;
    /* justify-content: space-between; */
    align-items:baseline;
    flex-wrap: wrap;
    padding: 15px;
    gap: 10px;
}

.info-card {
    background-color: #e5eff7; /* var(--azul-claro) */
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    color: rgb(0, 0, 0); /* var(--branco) */
    /* max-width: 800px; */
    /* margin: auto; */
}

.info-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.info-item {
    flex: 1 1 45%;
    margin: 10px 0;
}

.info-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.info-value {
    font-size: 1em;
}

.bio {
    margin-top: 20px;
}

.bio p {
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 8px;
}